@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Importação de fontes do google*/

:root {   /*Paleta de cores padrão*/
  --cor-header: rgb(207, 3, 3);
  --cor-de-fundo: aliceblue;
  --cor-do-card: rgb(211, 210, 212);
  --box-login: rgb(77, 77, 77);
  --texto-login: rgb(238, 203, 8);
  --cor-texto-geral: #000000;
}

body.dark-mode { /*Paleta de cores modo escuro*/
  --cor-header: #8b0000; 
  --cor-de-fundo: #121212; 
  --cor-do-card: #2a2a2ad6; 
  --box-login: #37363692; 
  --texto-login: #ffcc00; 
  --cor-texto-geral: #ffffff; 
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body, #root {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  background-color: var(--cor-de-fundo); 
  color: var(--cor-texto-geral);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;   /*detalhe de animação*/
}